@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background: #fee; */
}
body{
    background: #fee;
}
h1{
    font-size: 55px;
    line-height: 1.4;
    font-weight: 800;
}
p{
    font-size: 18px;
}
.btn{
    display: inline-block;
    padding: 8px 15px;
    color: #fff;
    font-weight: 700;
    background: linear-gradient(50deg, #41e1fd , #0198b3);
    border-radius: 25px;
    text-decoration: none;
    margin-top: 20px;
    transition: 0.3s;
}
.btn:hover{
    color: #01abc9;
    background: #fff;
}



/* banner start ============================================ */
.banner{
    padding: 5%;
    display: flex;
}
.banner-content{
    width: 45%;
    /* border: 1px solid; */
}
.nam{
    color: #01abc9;
}
.banner-img{
    width: 55%;
    /* border: 1px solid; */
}
.banner-img img{
    /* border: 1px solid; */
    width: 100%;
}
/* banner end ========================================== */


/* about start========================================== */
.about{
    padding: 2% 5%;
    display: flex;
    background:linear-gradient(to left, #ffffff86, #eeeeee99), url(img/Banner-BG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.about-img{
    width: 40%;
    position: relative;
}
.about-img img{
    width: 120%;
    /* border: 1px solid; */
    position: absolute;
    bottom: -55px;
}
.about-content{
    width: 60%;
}
/* about end ============================================= */


